
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1467294018'); /* IE9*/
  src: url('iconfont.eot?t=1467294018#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1467294018') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1467294018') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1467294018#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jiashoucang:before { content: "\e616"; }
.icon-search:before { content: "\e611"; }
.icon-location:before { content: "\e600"; }
.icon-arrow:before { content: "\e601"; }
.icon-xinxi:before { content: "\e618"; }
.icon-arrowleft:before { content: "\e603"; }
.icon-icon_arrow_down:before { content: "\e602"; }
.icon-shuxian:before { content: "\e60f"; }
.icon-gouwuchejiahaojian:before { content: "\e61d"; }
.icon-gouwuche:before { content: "\e61e"; }
.icon-ok:before { content: "\e609"; }
.icon-sousuo:before { content: "\e610"; }
.icon-arrow-top:before { content: "\e604"; }
.icon-shijian:before { content: "\e607"; }
.icon-yonghu:before { content: "\e608"; }
.icon-delete:before { content: "\e60c"; }
.icon-arrow1:before { content: "\e605"; }
.icon-edit:before { content: "\e60d"; }
.icon-arrow-left:before { content: "\e606"; }
.icon-home:before { content: "\e620"; }
.icon-arrowdown:before { content: "\e60a"; }
.icon-arrowtop:before { content: "\e60b"; }
.icon-saelect:before { content: "\e621"; }
.icon-triangle-copy:before { content: "\e622"; }
.icon-triangle-copy-copy:before { content: "\e623"; }
.icon-triangle-copy-copy-copy:before { content: "\e624"; }
.icon-fangbaxinxian:before { content: "\e612"; }
.icon-fangbaxinkuai:before { content: "\e613"; }
.icon-shaixuan:before { content: "\e614"; }
.icon-shangxiashaixuan:before { content: "\e615"; }
.icon-icongouwuche:before { content: "\e628"; }
.icon-zhuye:before { content: "\e629"; }
.icon-close:before { content: "\e60e"; }


* {
    font-family: simhei, Helvetica, Arial, sans-serif;
}
#dialog-template{
    display: none;
}

.btn {
    display: inline-block;
    border: 0;
    box-sizing: border-box;
    background: #cb4a70;
    color: #fff;
    font-size: 1.5em;
    border-radius: .1em;
    line-height: 2em;
    padding: 0 1em;
    transition: .4s ease-out;
    border: 1px solid #cb4a70;
    outline: 0;
    text-decoration: none;
}

.btn:hover,
.btn:focus {
    background: #fff;
    color: #cb4a70;
    cursor: pointer;
    transition: .15s ease-in;
}

.btn-open {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.dialog {
    width: 480px;
    position: fixed;
    left: 50%;
    top: 2em;
    transform: translateX(-50%);
    z-index: 2000;
    visibility: hidden;
    backface-visibility: hidden;
    perspective: 1300px;
}

.dialog-active {
    visibility: visible;
}

.dialog-active .dialog-content {
    position: relative;
    opacity: 1;
    transform: rotateY(0);
}

.dialog-active ~ .dialog-overlay {
    opacity: 1;
    visibility: visible;
}

.dialog-content {
    border-radius: 3px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: .5s ease-in-out;
    opacity: 0;
    transform-style: preserve-3d;
    transform: rotateY(-70deg);
}

.dialog-header {
    background: #cb4a70;
    color: #fff;
}

.dialog-title {
    margin: 0;
    font-size: 2em;
    text-align: center;
    font-weight: 200;
    line-height: 2em;
}

.dialog-body {
    padding: 2em;
}

.dialog-footer {
    margin: 0 2em;
    padding: 2em 0;
    text-align: right;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.dialog-overlay {
    content: "";
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all .6s;
}

.close {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: .5rem;
    right: .5rem;
    transition: .8s ease all;
    -moz-transition: .8s ease all;
    -webkit-transition: .8s ease all;
    border: none;
    border-radius: 3px;
    color: #333;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.close:hover {
    transition: .8s ease all;
    -moz-transition: .8s ease all;
    -webkit-transition: .8s ease all;
}

.close .iconfont {
    font-size: 2rem;
    color: #fff;
}

.rotate {
    cursor: pointer;
}

.rotate:hover {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transition: transform 1.0s ease all;
    -moz-transition: -moz-transform 1.0s ease all;
    -webkit-transition: -webkit-transform 1.0s ease all;
}
        </style>