<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>

    <!-- 爷组件 -->
    <div class="container">
        <div id="app">
            <!-- 父组件的一个button触发了子组件的事件 -->

            <input type="text" v-model="searchword">
            <simple-table :columns="vmcolumns" :rows='vmrows' :filterword="searchword"></simple-table>
            <button type="button" @click="showadddialog">新增</button>
        </div>
    </div>

    <!-- 父组件 -->
    <template id="simple-table">
        <table class="table">
            <caption>table title and/or explanatory text</caption>
            <thead>
                <tr>
                    <th v-for="col in columns">{{col.name}}</th>
                    <th>修改</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(index,row) in rows | filterBy filterword">
                    <td v-for="col in columns">
                        <span v-if='col.iskey'><a href="javascript:void(0)" @click='edit(index,row)'>{{row[col.name]}}</a></span>
                        <span v-else>{{row[col.name]}}</span>
                    </td>
                    <td><span><button type="button" @click='deleteItem($index)'>删除</button></span></td>
                </tr>
            </tbody>
        </table>
        <simple-dialog :fileds='columns'></simple-dialog>
    </template>

    <!-- 子组件 dialog -->
    <template id="dialog">
        <div class="modal fade" id='mymodal' data-backdrop='false'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="medal-body">
                        <div v-for="field in fileds" class="form-group">
                            <label>{{field.name}}</label>
                            <!-- 如果有datasource就显示下拉 -->
                            <select v-if="field.datasource" v-model="item[field.name]">
                                <option v-for="opt in field.datasource" :value='opt' :opt="item[field.name]">{{opt}}</option>
                            </select>
                            <input v-else type="text" v-model='item[field.name]'>
                        </div>
                    </div>
                    <div class="modal-footer">
                         <button v-if="mode=='add'" data-dismiss='modal' class="btn btn-default" @click="notifyaddnew">
                            保存
                        </button>
                        <button v-if="mode=='edit'" data-dismiss='modal' class="btn btn-default" @click="notfiyedititem(this.index)">
                            保存
                        </button>
                        <button data-dismiss='modal' class="btn btn-default">
                            关闭
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </template>
    </body>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="./js/vue.js"></script>
    <script type="text/javascript">
        // 表格组件
        Vue.component('simple-table',{
            template:"#simple-table",
            props:['columns','rows','filterword'],
            methods:{
                deleteItem:function(item){
                    this.$dispatch('item-delete',item)
                },
                edit:function(index,item){
                    this.$broadcast('show-edit-dialog',index,item)
                }
            },
            // dialog 对话框
            components:{
                'simple-dialog':{
                    template:"#dialog",
                    events:{
                        // 新增
                        'show-dialog':function(){
                            this.item={}
                            this.mode='add'
                            $('#mymodal').modal('show')
                        },
                        // 修改
                        'show-edit-dialog':function(index,row){
                            // 显示对话框
                            this.mode='edit'
                            this.index=index
                            $('#mymodal').modal('show'),
                            // 深拷贝 不能直接等于哦 用一个空字典来接收row的值 然后复制给item
                            this.item=$.extend(true,{},row);
                        }
                    },
                    methods:{
                        notifyaddnew:function(){
                            this.$dispatch('add-new-item',this.item)
                        },
                        notfiyedititem:function(index){
                            this.$dispatch('nodify-edit-item',index,this.item)
                        }
                    },
                    data:function(){
                        return {
                            item:{},
                            // 用来记录是从哪一个按钮进来的
                            mode:"",
                            index:"",

                        }
                    },
                    // props要用''括住 使用数组就可以了 表头
                    props:['fileds']
                }
            }
        })
        var vm = new Vue({
            el: "#app",
            data:{
                searchword:'',
                vmcolumns:[{
                    name:'name',
                    iskey:true
                },{
                    name:'age',
                },{
                    name:'sex',
                    datasource:['Male','Female']
                }],
                vmrows:[{
                    name: 'Jack',
                    age: 30,
                    sex: 'Male'
                }, {
                    name: 'Bill',
                    age: 26,
                    sex: 'Male'
                }, {
                    name: 'Tracy',
                    age: 22,
                    sex: 'Female'
                }, {
                    name: 'Chris',
                    age: 36,
                    sex: 'Male'
                }]
            },
            methods:{
                // 展现新增的dialog
                showadddialog:function(){
                    this.$broadcast('show-dialog')
                },
            },
            events:{
                'item-delete':function(item){
                    this.vmrows.splice(item,1)
                },
                'add-new-item':function(item){
                    alert('新增信号')
                    this.vmrows.push(item)
                },
                'nodify-edit-item':function(index,item){
                    $.extend(true,this.vmrows[index],item);

                    // currentobj=this.vmrows[index]
                    // currentobj.name=item.name
                    // currentobj.age=item.age
                    // currentobj.sex=item.sex

                }
            },
        })
    </script>
</html>